<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.itacademy.pvt.homework">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
    <activity android:name=".DZ1Activity"
              android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    <activity android:name=".DZ0Activity"
              android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    <activity android:name=".MainActivity"
              android:theme="@android:style/Theme.NoTitleBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity android:name=".DZ3Activity"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>
</manifest>
