<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.itacademy.pvt.homework">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".dz6.DZ6StudentEditActivity">
        </activity>
        <activity android:name=".dz6.DZ6StudentDetailsActivity">
        </activity>
        <activity android:name=".dz6.DZ6StudentListActivity">
        </activity>
        <activity android:name=".dz5.DZ5Activity">
        </activity>
        <activity android:name=".DZ3Activity">
        </activity>
        <activity android:name=".DZ2Activity">
        </activity>
        <activity android:name=".DZ4Activity">
        </activity>
        <activity android:name=".DZ2LoginActivity">
        </activity>
        <activity
                android:name=".DZ1Activity"
                android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
                android:name=".DZ0Activity"
                android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>